{:linters
 {:unresolved-symbol
  {:exclude [(sweet-tooth.frontend.form.components/with-form
               [form-path
                form-state
                form-subs
                form-ui-state
                form-dscr
                form-errors
                form-buffer
                form-dirty?

                state-success?

                sync-state
                sync-active?
                sync-success?
                sync-fail?

                on-submit
                submit-fn
                input-opts
                input
                field

                form-state
                form-components
                form

                path])]}}}
