;; shadow-cljs configuration
{:source-paths
 ["src"
  "../src"]

 :dependencies
 [[org.clojure/clojurescript   "1.10.439" :scope "provided"]
  [re-frame                    "0.10.5"   :scope "provided"]
  [adzerk/bootlaces            "0.1.13"   :scope "test"]
  [adzerk/boot-test            "1.1.1"    :scope "test"]
  [cljs-ajax                   "0.6.0"]
  [meta-merge                  "1.0.0"]
  [com.andrewmcveigh/cljs-time "0.4.0"]
  [com.taoensso/timbre         "4.10.0"]
  [com.cemerick/url            "0.1.1"]
  [venantius/accountant        "0.2.4"]
  [integrant                   "0.8.0-alpha2"]
  [funcool/bide "1.6.0"]

  [thheller/shadow-cljsjs  "0.0.16"]
  [binaryage/devtools      "0.9.4"          :scope "test"]
  [day8.re-frame/re-frame-10x "0.2.0"       :scope "test"]
  [reifyhealth/specmonstah "2.0.0-alpha-1" :scope "test"]
  [org.clojure/test.check "0.9.0" :scope "test"]
  [aysylu/loom "1.0.2"]

  [cider/cider-nrepl "0.18.0"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main ;; <- becomes public/js/main.js
         {:entries [demo.core]}}

        ;; start a development http server on http://localhost:8020
        :devtools
        {:http-root "public"
         :http-port 8020}}}}
